#button-right {
   width: 3.75rem;
   height: 2.5rem;
   border-bottom-right-radius: 6.25rem;
   border-top-right-radius: 6.25rem;
   border-bottom-left-radius: initial;
   border-top-left-radius: inherit;
   --bs-btn-bg: rgb(89, 96, 102);
   --bs-btn-border-color: rgb(89, 96, 102);
}

.btn.btn-danger {
   --bs-btn-hover-bg: #cf6679;
   --bs-btn-hover-border-color: #cf6679;
   --bs-btn-active-bg: #e2667c;
   --bs-btn-active-border-color: #e2667c;
}

.button-div {
   display: inline-block !important;
}
