/* Works on Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #454d52 #7f8790;
 }
 
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}
 
*::-webkit-scrollbar-track {
background: #7f8790;
}
 
*::-webkit-scrollbar-thumb {
background-color: #454d52;
border-radius: 20px;
border: 3px solid #7f8790;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background:  var(--mui-palette-primaryBackground-main);
}
