.MuiOutlinedInput-notchedOutline {
    opacity: 100% !important;
    border-color: var(--mui-palette-gray-main) !important;
    border-radius: 15px !important;
}

.MuiFormLabel-root-MuiInputLabel-root {
    opacity: 100%;
    border-color: var(--mui-palette-gray-main) !important;
}

.MuiFormLabel-root-MuiInputLabel-root {
    opacity: 100% !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color: var(--mui-palette-gray-main) !important;
}

#utilities-nav input {
    opacity: 100% !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color: var(--mui-palette-gray-main) !important;
}

#utilities-nav label {
    opacity: 100% !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color: var(--mui-palette-gray-main) !important;
}

#utilities-nav input:hover {
    opacity: 100% !important;
}

#utilities-nav label:hover {    
    opacity: 100% !important;
}

#utilities-nav div {
    opacity: 100%v;
    border: solid 1px var(--mui-palette-gray-main) !important;
    border-radius: 15px !important;
}

#utilities-nav div:hover {
    opacity: 100%;
}
