#header {
   background-color: #121212;
   padding-bottom: 0.5rem;
   margin-bottom: 3.75rem;
}

h1 {
   color: #7f8790;
   text-align: center;
   font-size: 3.1rem !important;
   padding-top: 0.75rem;
}
